<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<style>
    label>button>a{color:black; text-decoration: none;}
    #UserRank
</style>
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
</head>
<body>
<nav th:replace="fragments/nav_bars :: communitySubNav"></nav>
<div class="container">
    <a href="/community/search.do">검색</a>
<h1>자유게시판</h1>
    <div>
        <form th:action="@{/community}"  method="post">

            <div class="form-group" style="justify-content: space-between;">
                <label>
                <textarea class="form-control" rows="10" style="width: 1200px; height: 500px;position: relative;
                user-select: none; justify-content: center; align-items: center;"
                placeholder="로그인 후 이용해주세요!" ></textarea>
                <button type="submit" ><a href="#"><img src="/img/ImageIcon/ImageIcon.png" alt="이미지" style="width: 20px; height: 20px">이미지 첨부</a></button>
                <button type="submit" style=" position: absolute;">
                    <a href="#" >게시하기</a>
                </button>
                </label>
            </div>

        </form>
    </div>
    <div>
        <table style="width:100%; justify-content: space-between;">
            <thead>
            <tr>
                <th>내용</th>
                <th>이미지</th>
                <th>작성 일자</th>
            </tr>
            </thead>
            <tbody  th:each="postpage : ${postPage}">
            <tr>
                <td th:text="${postpage.getPostCont()}"></td>
                <td><img th:src="#{/images/img/ImageIcon/ImageIcon.png}" alt="blcok"></td>
                <td th:text="${postpage.getPostCreatedAt()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
   </div>

</body>

</html>