<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
  <meta charset="UTF-8">
  <title>게시글 수정</title>
</head>
<body>
    <div class="container">
      <div class="form-group" style="justify-content: space-between;" id="">
        <form action="community/modifyPostAction.do" onsubmit="modifyPostHandler(event)">
        <h1 style="width: 80%" th:text="${postDto.userNickname}+'의 '+${postDto.id}+'번 게시물 수정중'"></h1>
            <label style="display: flex; width: 100%;">
                <textarea class="form-control mb-2" rows="10" style=" height: 500px;position: relative;
                align-items: center; resize: none;"
                          placeholder="수정할 내용을 입력해 주세요!" name="postCont" th:value="${postDto.postCont}" th:utext="${postDto.postCont}"></textarea></label>
            <input type="hidden" name="id" th:value="${postDto.id}">
          <label style="display: flex; flex-direction: row; justify-content: space-between; align-items: center;">

          <span >
              <button type="button" class="btn btn-info" onclick="attachImage()">
                  <img src="/img/ImageIcon/ImageIcon.png" alt="이미지" style="width: 20px; height: 20px">이미지 첨부</button>
              <button type="reset" class="btn btn-danger">초기화</button>
            </span>
              <span class="d-flex justify-content-between">
          <span>
              <button type="submit" class="btn btn-info">수정하기</button>
          </span>
                  </span>
        </label>
        </form>

      </div>
    </div>
<script>
    function attachImage() {
        alert("이미지 업로드 기능은 아직 구현되지 않았습니다.");
    }
    const url = "/community/modifyPostAction.do"
    const modifyPostHandler = async (e) => {
        const confirmation = confirm("수정하시겠습니까?")
        if (!confirmation) return;
        e.preventDefault();
        const form = e.target;
        const formData = new FormData(form);
        const postNo = formData.get("id"); // `postNo` 값을 가져옴
        const postCont = formData.get("postCont"); // `postCont` 값을 가져옴
        const requestData = {
            id : postNo,
            postCont: postCont
        };
        console.log(requestData.id+requestData.postCont);
        try {
            const response = await fetch(url, {
                method: 'PUT',
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(requestData)
            });
            if (response.status === 204) {
                alert("게시글 내용이 변경되지 않았습니다.");
                return;
            }
            if (response.status === 404) {
                alert("해당 게시글을 찾을 수 없습니다.");
                return;
            }
            if(response.ok) {
                alert("게시글이 수정되었습니다.")
                window.location.href=`/community/postDetail.do?postNo=${postNo}`;
            }else {
                alert("게시글 수정 실패!")
            }
        }catch (error){
            console.log(error);
            alert("수정중 오류 발생!")
        }
    }
</script>
</body>
</html>