<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>내용</title>
</head>
<nav th:replace="fragments/nav_bars :: communitySubNav"></nav>
<body>
<h1>게시글 상세</h1>
<!--<p th:text="${post.postCont}"></p>-->
    <div class="container">
        <div id="postCont" class="d-flex align-items-center mb-2" style="width: 70%; height: 300px; border: 1px solid black;">
            <div style="display: flex; flex-direction: row ;justify-content: space-between">
                <img src="/img/user_icon/user_icon_green.png" alt="이미지" style="width: 30px; height: 30px">
                <span th:text="${post.user.nickname}"></span>

            <h1 th:text="${post.postCont}">게시글 세부내용!</h1>
                <span th:text="${#temporals.format(post.postCreatedAt, 'yyyy-MM-dd')}">2022-02-02</span>
            </div>

            <div style="justify-content: flex-end">
                <span th:text="좋아요 +${post.likeCount}">좋아요</span>
                <span th:text="싫어요 +${post.dislikeCount}">싫어요</span>
                <span th:text="댓글 +${post.id}+개">댓글 갯수</span>
            </div>
        </div>
        <div id="comment" style="width: 70%; height: fit-content; border: 1px solid black;
        display: flex;border-radius: 5px; padding : 1.25em; justify-content: space-between">
            <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: column;">
            <img src="/img/user_icon/user_icon_default.png" alt="" style="width: 30px; height: 30px">
            <span th:text="${post.user.nickname}"></span>
                </div>
            <div>
            <span style="font-size: 1.25em; " >댓글 예상</span>
            </div>
            </div>
                <div>
                    <span th:text="좋아요+${post.likeCount}"></span>
                    <span th:text="싫어요+${post.dislikeCount}"></span>
                </div>
        </div>
</div>
</body>
</html>