<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>내용</title>
</head>
<nav th:replace="fragments/nav_bars :: communitySubNav"></nav>
<body>
<h1>게시글 상세</h1>
<!--<p th:text="${post.postCont}"></p>-->
    <div class="container">
        <div id="postCont" class="d-flex align-items-center mb-2" style="width: 70%; height: 300px; border: 1px solid black;">
            <div style="display: flex;justify-content: space-between">
            <h1 th:text="${post.postCont}">게시글 세부내용!</h1>
                <span th:text="${post.postCreatedAt}">2022-02-02</span>
            </div>
            <div style="justify-content: flex-end">
                <span th:text="좋아요 +${post.likeCount}">좋아요</span>
                <span th:text="싫어요 +${post.dislikeCount}">싫어요</span>
            </div>
        </div>
        <div id="comment" style="width: 70%; height: 30px; border: 1px solid black; border-radius: 5px;">
            <span style="font-size: 20px">댓글 예상</span>
        </div>
</div>
</body>
</html>