<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>검색 홈</h1>

    <div>
        <ul>
            <li><a th:href="@{search.do(category=all)}">통합검색</a></li>
            <li><a th:href="@{search.do(category=free)}">자유게시판</a></li>
            <li><a th:href="@{search.do(category=pnl)}">손익인증</a></li>
            <li><a th:href="@{search.do(category=chart)}">차트분석</a></li>
            <li><a th:href="@{search.do(category=expert)}">전문가 게시판</a></li>
        </ul>
        <form onsubmit="search(event)">
            <label for="keyword">검색</label>
            <input type="text" name="keyword" id="keyword">
            <button type="submit">검색</button>
        </form>
    </div>
    <script>
        function search(event) {

            event.preventDefault();
            const keyword = document.getElementById('keyword').value;
            const category = new URLSearchParams(window.location.search).get('category') || 'all';
            window.location.href = `/community/search_result.do?category=${category}&keyword=${keyword}`;
            //search_result.do?keyword='이용방법';

        }
    </script>
    <hr>
    <div>
        <h2>최근검색어</h2>
        <div th:if="${keywordSet}!=null" th:each="c : ${keywordSet}" class="recentKeywordDiv">
            <a th:href="@{http://localhost:8801/community/search_result.do(keyword=${c})}" th:text="${c}"></a>
            <button th:attr="data-keyword=${c}" onclick="deleteKeyword(this.getAttribute('data-keyword'))">삭제</button>
        </div>
        <button th:if="${keywordSet}!=null" id="deleteAllBtn" onclick="deleteAllKeywords(event)">전체삭제</button>
    </div>
    <hr>
    <h2>인기검색어</h2>

</div>
<script>
    const deleteKeyword = async (keyword) => {
        let url = `/community/search/cookieDelete.do?keyword=${keyword}`;
        const response = await fetch(url);
        if (response.ok) {
            const buttonElement = document.querySelector(`button[data-keyword="${keyword}"]`);
            const parentDiv = buttonElement.closest('div');
            parentDiv.remove();
            const remainingKeywords = document.querySelectorAll('[data-keyword]');
            if (remainingKeywords.length === 0) {
                const deleteAllBtn = document.getElementById('deleteAllBtn')
                deleteAllBtn.remove();
            }
        }
    }


    const deleteAllKeywords = async (event) => {
        event.preventDefault();
        const URL = '/community/search/deleteAllKeywordCookie';
        const response = await fetch(URL);
        if (response.ok) {
            const recentKeywordDivs = document.getElementsByClassName("recentKeywordDiv");
            while (recentKeywordDivs.length > 0) {
                recentKeywordDivs[0].remove();
            }
            const deleteAllBtn = document.getElementById("deleteAllBtn");
            deleteAllBtn.style.display = "none";
        }
    }
</script>
</body>
</html>