<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>뉴스 홈</title>
</head>
<body>
<nav th:replace="fragments/nav_bars :: newsSubNav"></nav>
<div class="container">
<h1>뉴스 홈</h1>
    <div>
        <p><a href="#">최신뉴스</a></p>
        <p><a href="/news/crypto_news.do">암호화폐</a></p>
        <p><a href="/news/global_stock_news.do">해외증시</a></p>
        <p><a href="/news/forex_rates_news.do">환율/금리</a></p>
    </div>
</div>
</body>
</html>