<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>뉴스 홈</title>
</head>
<body>
<nav th:replace="fragments/nav_bars :: newsSubNav"></nav>
<div class="container">
<h1>뉴스 홈</h1>
    <hr/>
    <div class="btn-group">
        <a href="#" class="btn btn-primary active" aria-current="page">최신뉴스</a>
        <a href="/news/crypto_news.do" class="btn btn-primary">암호화폐</a>
        <a href="/news/global_stock_news.do" class="btn btn-primary">해외증시</a>
        <a href="/news/forex_rates_news.do" class="btn btn-primary">환율/금리</a>
    </div>
</div>
</body>
</html>