<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/nav_bars :: assetSubNav"></nav>
<div class="container">
<h1>내자산</h1>
    <div>
        <p>보유자산</p>
        <div id="myAsset">
            <p><span>원</span></p>
        </div>
        <div>
            <p>평가손익: <span></span></p>
            <p>수익률: <span></span></p>
        </div>
    </div>

</div>

</body>
</html>