<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
  <h1>요약정보</h1>
  <p>게시글수 <span id="postsCount"></span></p>
  <p>팔로잉수 <span id="followingCount"></span></p>
  <p>팔로워수 <span id="followerCount"></span></p>

</div>

<script>
  const postsCount=document.getElementById('postsCount');
  const followingCount=document.getElementById('followingCount');
  const followerCount=document.getElementById('followerCount');
  async function loadSummary(){
    const url='/api/users/me/summary';
    const response = await fetch(url);
    const data = await response.json();
    console.log(data)
    postsCount.innerText=data.postCount;
    followingCount.innerText=data.followingCount;
    followerCount.innerText=data.followerCount;
  }
  loadSummary();

</script>
</body>
</html>