<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
</head>
<body>
    <div class="container">
        <h1>설정</h1>
        <a href="/setting/support/support_main.do">고객센터</a>
        <br>
        <a href="/setting/support/notifications/notification_setting.do">알림 설정</a>
        <br>
        <a href="/setting/my_info/my_info_main.do">회원정보</a>
        <br>
        <a href="/setting/support/privacy_policy.do">개인정보 취급 방침</a>
        <br>
        <a href="/setting/support/terms_of_service.do">서비스 이용 약관</a>
</div>
</body>
</html>