<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<style>
    .listSelectBtn {
        background: none;
        border: none;
    }

    .active {
        border-bottom: 2px solid #000000;
    }
</style>
<div class="container">


    <button class="listSelectBtn active" id="followerListBtn">팔로워</button>
    <button class="listSelectBtn" id="followingListBtn">팔로잉</button>
    <hr>
    <input type="text">
    <hr>
    <p>정렬기준 기본</p>
    <div id="listContainer">

    </div>
</div>

<script>
    const listContainer = document.getElementById('listContainer');
    const followerListBtn = document.getElementById('followerListBtn');
    const followingListBtn = document.getElementById('followingListBtn');

    const urlParams = new URLSearchParams(window.location.search);
    const tabParam= urlParams.get('tab');

    document.addEventListener('DOMContentLoaded', function () {
        if (tabParam === 'followers' || tabParam ===null) {
            loadFollowers();
        } else {
            loadFollowings();
        }

    });

    async function loadFollowers() {
        followerListBtn.classList.add('active');
        followingListBtn.classList.remove('active');
        const url = '/api/users/me/followers';
        const response = await fetch(url);
        const data = await response.json();
        let html = ''
        for (const follower of data) {
            html +=
                `<div class="my-4" style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <img src="${follower.profileImgUrl}" alt="${follower.profileImgUrl}" style="margin-right: 10px; width: 50px; height: 50px;">
                        <div>
                            <p style="margin: 0; font-weight: bold">${follower.nickname}</p>
                            <p style="margin: 0; font-weight: lighter">${follower.name}</p>
                        </div>
                    </div>

                </div>`
        }
        listContainer.innerHTML = html;
    }
    followerListBtn.addEventListener('click', loadFollowers);



    async function loadFollowings() {
        followingListBtn.classList.add('active');
        followerListBtn.classList.remove('active');
        const url = '/api/users/me/followings';
        const response = await fetch(url);
        const data = await response.json();
        let html = ''
        for (const following of data) {
            html +=
                `<div class="my-4" style="display: flex; justify-content: space-between; align-items: center;">
                    <div style="display: flex; align-items: center;">
                        <img src="${following.profileImgUrl}" alt="${following.profileImgUrl}" style="margin-right: 10px; width: 50px; height: 50px;">
                        <div>
                            <p style="margin: 0; font-weight: bold">${following.nickname}</p>
                            <p style="margin: 0; font-weight: lighter">${following.name}</p>
                        </div>
                    </div>
                    <button style="height: 2em;" value="${following.followingUserNo}">삭제</button>
                </div>`
        }
        listContainer.innerHTML = html;
    }
    followingListBtn.addEventListener('click', loadFollowings);

</script>

</body>
</html>