<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns=""
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 th:text="${userDto.nickname} + '의 게시글목록'"></h1>
    <div id="boardsContainer">

    </div>
    <button id="loadMoreBtn">더보기</button>
</div>
<script>
    const userId = "[[${userDto.id}]]";
    let page = 0;

    async function loadBoards(userId, isInitialLoad = false) {
        const boardsContainer = document.getElementById("boardsContainer");
        const URL = `/api/users/${userId}/boards?page=${page}`;
        const response = await fetch(URL);
        const data = await response.json();
        
        if (isInitialLoad) {
            boardsContainer.innerHTML = "";
        }
        
        if (data.length === 0) {
            loadMoreBtn.style.display = "none";
            if (page > 0) {
                boardsContainer.innerHTML += `<div class="alert alert-info">더 이상 게시글이 없습니다.</div>`;
            } else {
                boardsContainer.innerHTML = `<div class="alert alert-info">게시글이 없습니다.</div>`;
            }
            return;
        }
        
        for (post of data) {
            boardsContainer.innerHTML += `<a href="/community/postDetail.do?postNo=${post.id}" style="text-decoration: none; color: black;">
                            <div class="list-group-item">

                                <p>${post.postCont}</p>
                                <div style="padding-bottom: 5px;">
                                <span>좋아요${post.likeCount}개</span>
                                <span>싫어요${post.dislikeCount}개</span>
                                <span>댓글${post.commentCount}개</span>
                                </div>
                                <small class="text-muted"> ${post.postCreatedAt.substring(0, 10)}</small>
                            </div>
                        </a>
                        <br>
`;
        }
    }

    loadBoards(userId, true);
    
    const loadMoreBtn = document.getElementById("loadMoreBtn");
    loadMoreBtn.onclick = async function () {
        page++;
        loadBoards(userId);
    }




</script>

</body>
</html>