<!-- 상단 네비게이션 -->
<style>
  ul>li:hover{background-color: blue}
</style>
<nav class="navbar fixed-top py-1 bg-secondary-subtle p-2 text-white bg-opacity-75" th:fragment="topNav">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img th:src="@{/img/logo/sample_logo.svg}" alt="Logo" width="100" height="24" class="d-inline-block align-text-top">

    </a>
    <div>
      <a href="#">
        <img th:src="@{/img/user_icon/user_icon_default.png}" alt="#">
      </a>

    </div>
  </div>
</nav>


<!-- 하단 네비게이션 -->
<nav class="navbar navbar-expand fixed-bottom bg-danger-subtle py-1 border-top border-2" th:fragment="bottomNav">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav w-100 justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" href="#">전체메뉴</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" href="/trade/main.do">거래소</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" href="/asset/my_asset.do">내자산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" href="/community/free_post.do">커뮤니티</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold fs-5" href="/news/main.do">뉴스</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- 내자산 서브네비게이션-->
<nav class="navbar navbar-expand bg-info py-1 border-top border-2 w-100" style="position: fixed; margin-top: 40px" th:fragment="assetSubNav">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav w-100 justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">나의자산</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">거래내역</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">주문내역</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">미체결</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 커뮤니티 서브네비게이션-->
<nav class="navbar navbar-expand bg-info py-1 border-top border-2 w-100" style="position: fixed; margin-top: 40px" th:fragment="communitySubNav">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav w-100 justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link fw-medium" href="/community/free_post.do">자유게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="/community/pnl_post.do">손익인증</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">차트분석</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">전문가</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- 뉴스 서브네비게이션-->
<nav class="navbar navbar-expand bg-info py-1 border-top border-2 w-100" style="position: fixed; margin-top: 40px" th:fragment="newsSubNav">
  <div class="container-fluid px-0">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav w-100 justify-content-evenly">
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">전체뉴스</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">공탐지수</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">김프</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-medium" href="#">선물</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

