<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>문의내역</title>
</head>
<body>
    <div class="container">
        <h1>답변대기</h1>
        <a href="/setting/support/qna/qna.do">답변대기</a>&nbsp;&nbsp;&nbsp;
        <a href="/setting/support/qna/qna_complete.do">답변완료</a>
        <hr>
        <div th:each="q : ${questions}">
            <a th:href="@{/setting/support/qna/qna_detail.do(questionNo=${q.id})}" th:text="${q.questionTitle}"></a>
        </div>
    </div>
</body>
</html>