<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>BitHive</title>
</head>
<body>
<h1 class="mt-5">홈화면</h1>
<div class="container">
    <div class="py-3">
        <a href="/trade/main.do" class="btn btn-secondary">거래소</a>
    </div>
    <div class="py-3">
        <a href="/asset/my_asset.do" class="btn btn-secondary">내자산</a>
    </div>
    <div class="py-3">
        <a href="/community/free_post.do" class="btn btn-secondary">커뮤니티</a>
    </div>
    <div class="py-3">
        <a href="/news/main.do" class="btn btn-secondary">뉴스</a>
    </div>

</div>

</body>
</html>