<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>보유 자산</title>
</head>
<body>
<script defer src="/js/util/profit.js"></script>
<div class="container">
        <a href="/trade/main.do">원화</a>
        <a href="/trade/favorite_coin.do">관심</a>
        <a href="/trade/holding_coin.do">보유</a>

<table class="table table-hover">
    <thead class="table-dark">
    <tr>
        <th>코인명</th>
        <th>평가금액</th>
        <th>평균 매수가</th>
        <th>수익률</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="coin : ${coinDetails}">
        <td
                style="cursor: pointer"
                onclick="goToChart(this)"
                th:text="${coin.market.replace('KRW-','')}"
                th:attr="data-symbol=${coin.market.replace('KRW-','')}"
        >

        </td>
        <td th:text="${#numbers.formatDecimal(coin.currentValuation, 0, 'COMMA', 0, 'POINT')} + ' 원'"></td>
        <td th:text="${#numbers.formatDecimal(coin.buyAvgPrice, 0, 'COMMA', 0, 'POINT')} + ' KRW'"></td>
        <td th:text="${coin.profitRate > 0 ? '+' : ''} +
        ${#numbers.formatDecimal(coin.profitRate, 0, 'COMMA', 2, 'POINT')} + ' %'"
            th:attr="data-profit=${coin.profitRate}"></td>
    </tr>
    </tbody>

</table>
<script>
    function goToChart(element){
        const symbol = element.dataset.symbol;
        const url = `/trade/buy.do?coin=${symbol}`;
        console.log(`${symbol}`)
        window.location.href = url;
    }

</script>

</div>

</body>
</html>