<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/default :: html(content=~{::body})}">
<body>
<script defer src="/js/util/profit.js"></script>
<script defer src="/js/util/myAsset.js"></script>
<script defer src="/js/util/toast.js"></script>
<div class="container">
    <div id="toastContainer"
         style="position: fixed; top: 20px; right: 20px; z-index: 9999;"></div>
    <h1>거래소 홈</h1>
    <div>
        <p>보유자산</p>
        <div id="myAsset">
            <p><span>원</span></p>
        </div>
        <div>
            <p>
                평가손익:
                <span th:text="${profitResult.totalProfit > 0 ? '+' : ''} +
                    ${#numbers.formatDecimal(profitResult.totalProfit, 0, 'COMMA', 0, 'POINT')}"
                      th:attr="data-profit=${profitResult.totalProfit}"
                ></span>
            </p>
            <p>
                수익률:
                <span th:text="${profitResult.overallProfitRate > 0 ? '+' : ''}+
                    ${#numbers.formatDecimal(profitResult.overallProfitRate, 0, 'COMMA', 2, 'POINT')}+'%'"
                      th:attr="data-profit=${profitResult.overallProfitRate}"
                ></span>
            </p>
        </div>
    </div>
<div class="btn-group">
    <a href="#" class="btn btn-primary active" aria-current="page">원화</a>
    <a href="/trade/favorite_coin.do" class="btn btn-primary">관심</a>
    <a href="/trade/holding_coin.do" class="btn btn-primary">보유</a>
</div>

    <table id="tickerTable" class="table table-hover">
        <thead class="table-dark">
        <tr>
            <th>코인명</th>
            <th>현재가</th>
            <th>전일대비</th>
            <th>거래대금</th>
            <th>관심목록</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<script>
    let coinNameMapping = {};

    async function fetchCoinNameMapping() {
        try {
            const response = await fetch('/api/proxy/upbit/market/all?is_details=true');
            if (!response.ok) throw new Error(`잘못된 요청입니다. : ${response.status}`);
            const marketData = await response.json();
            marketData.forEach(item => {
                if (item.market.startsWith('KRW-')) {
                    const ticker = item.market.replace('KRW-', '');
                    coinNameMapping[ticker] = item.korean_name;
                }
            });
        } catch (error) {
            console.error("API 요청에 실패했습니다.", error);
        }
    }

    async function updateTickerTable() {
        try {
            const response = await fetch('/api/proxy/upbit/ticker/all?quote_currencies=KRW');
            if (!response.ok) throw new Error(`잘못된 요청입니다. : ${response.status}`);
            const tickerData = await response.json();
            const tbody = document.querySelector('#tickerTable tbody');
            tbody.innerHTML = "";
            console.log(tickerData.length)

            tickerData.forEach(item => {
                if (item.market.startsWith('KRW')) {
                    const ticker = item.market.replace("KRW-", "");
                    const coinName = coinNameMapping[ticker] || ticker;
                    const priceFormatted = item.trade_price.toLocaleString('en-US', {
                        minimumFractionDigits: 0,
                        maximumFractionDigits: 2
                    });
                    const changeRateFormatted = (item.signed_change_rate * 100).toFixed(2);
                    const changeColor = item.signed_change_rate > 0 ? 'red' : (item.signed_change_rate < 0 ? 'blue' : 'black');

                    const tr = document.createElement('tr');
                    tr.innerHTML = `
                        <td onclick="goToChart('${ticker}')" style="cursor: pointer;">${coinName}<br>${ticker}/KRW</td>
                        <td>${priceFormatted}</td>
                        <td style="color: ${changeColor}">${item.signed_change_rate > 0 ? '+' : ''}${changeRateFormatted}%</td>
                        <td>${(item.acc_trade_price_24h / 1000000).toLocaleString('en-US', {maximumFractionDigits: 0})}백만</td>
                        <td>
                        <button type="button" class="btn btn-dark favoriteBtn" id="favoriteBtn" data-ticker="${ticker}">⭐</button>
                        </td>
                    `;
                    tbody.appendChild(tr);
                }
            });

        } catch (error) {
            console.error('Error updating ticker table:', error);
            document.querySelector('#tickerTable tbody').innerHTML =
                '<tr><td colspan="4">데이터를 불러오는 중 오류가 발생했습니다.</td></tr>';
        }
    }

    function goToChart(coinTicker) {
        const url = `/trade/buy.do?coin=${coinTicker}`;
        window.location.href = url;
    }

    document.addEventListener("DOMContentLoaded", async () => {
        await fetchCoinNameMapping();
        await updateTickerTable();
        // setInterval(updateTickerTable,500);
    });

    // 즐겨찾기 추가
    document.querySelector('#tickerTable tbody').addEventListener('click',async function (e) {
        if (!e.target.matches('.favoriteBtn')) return;

            const ticker = e.target.dataset.ticker;
            const fullMarket = "KRW-" + ticker;
            const data = {
                userNo : 1,
                market: fullMarket
            };

        const URL = "/trade/favorite_action.do";
        const resp = await fetch(URL,{
            method: 'POST',
            headers:{'Content-type' : 'application/json'},
            body:JSON.stringify(data)
        });
        if (resp.status===201){
            showToast(" ⭐️  관심목록에 추가되었습니다.")
        } else if(resp.status===409){
            showToast("❗️ 이미 관심목록에 있습니다.")
        }else{
            showToast("🚫 관심목록 추가에 실패하였습니다.")
        }
        console.log(`코인 : ${fullMarket}` )
    })

</script>
</body>
</html>