<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.codehive.mapper.UsersMapper">
  <resultMap id="usersMap" type="com.example.codehive.model.UsersModel">
    <id column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="privacy_agreements" jdbcType="BOOLEAN" property="privacyAgreements" />
    <result column="marketing_agreements" jdbcType="BOOLEAN" property="marketingAgreements" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="profile_img_url" jdbcType="VARCHAR" property="profileImgUrl" />
    <result column="nationality" jdbcType="OTHER" property="nationality" />
    <result column="gender" jdbcType="OTHER" property="gender" />
    <result column="theme" jdbcType="OTHER" property="theme" />
    <result column="birth_date" jdbcType="TIMESTAMP" property="birthDate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="self_introduction" jdbcType="VARCHAR" property="selfIntroduction" />
    <result column="role" jdbcType="OTHER" property="role" />
  </resultMap>
  <select id="findAll" resultMap="usersMap">
    SELECT * FROM users
  </select>
    <select id="findByNo" resultMap="usersMap">
      SELECT * FROM users WHERE user_no=#{userNo}
    </select>
</mapper>